# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
autoscan.log
calibration_PSF.fits
calibration_PSFspc.fits
chris_zoomfft.c
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure.scan
contrastCurve.txt
contrast_curve.txt
csim.xcodeproj
depcomp
fftw_wisdom.dat
gitDir/
gnuData.txt
gnuplot.txt
gnuplotCommands.txt
hex_positions.txt
hex_positions_fpmIndex.txt
hexdata1.mat
hexdata_olivier_1.mat
install-sh
libtool
ltmain.sh
m4
missing
normalized_PSF.fits
stamp-h1
testim.txt


*.Plo
*.Po
